{% extends 'index.html' %}
		{% block title %}
		<title>相册展示</title>
		{% endblock %}
		{% block link %}
			<link rel="stylesheet" type="text/css" href="static/css/photo.css">
		
			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="static/js/popper.min.js"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>			
  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
    		<script src="static/js/jquery.tabs.min.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
            <script src="static/js/isotope.pkgd.min.js"></script>
			<script src="static/js/waypoints.min.js"></script>
			<script src="static/js/jquery.counterup.min.js"></script>
			<script src="static/js/simple-skillbar.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		{% endblock %}
		
		
		{% block content %}
		  <div class="banner-area" style="border: 1px solid #000; height: 1000px;">
				<p style="margin-top: 135px;font-size: 30px;font-weight: bold;margin-left: 200px;">相册展示</p>
					<div style="margin-left: 200px;margin-top: 40px;width: 1000px;">
						{% if photos %}
						{% for photo in photos %}
						<div style="width: 200px;height: 200px;display: inline-block;margin-left: 100px;text-align: center;line-height: 200px;"><img src="{{ photo.name }}" style="width: 200px;height: 200px;"></div>
						{% endfor %}
						{% else %}
						<div>该用户暂无相册照片</div>
						{% endif %}
					</div>
		  </div>
		  {% endblock %}

		  {% block message%}
		  {% endblock %}

		  {% block ext%}
		  {% endblock %}
