{% extends 'index.html' %}
		{% block title %}
		<title>个人展示</title>
		{% endblock %}
		{% block link %}
			<link rel="stylesheet" type="text/css" href="static/css/photo.css">
		
			<script src="static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="static/js/popper.min.js"></script>
			<script src="static/js/vendor/bootstrap.min.js"></script>

  			<script src="static/js/easing.min.js"></script>
			<script src="static/js/hoverIntent.js"></script>
			<script src="static/js/superfish.min.js"></script>
			<script src="static/js/jquery.ajaxchimp.min.js"></script>
			<script src="static/js/jquery.magnific-popup.min.js"></script>
    		<script src="static/js/jquery.tabs.min.js"></script>
			<script src="static/js/jquery.nice-select.min.js"></script>
            <script src="static/js/isotope.pkgd.min.js"></script>
			<script src="static/js/waypoints.min.js"></script>
			<script src="static/js/jquery.counterup.min.js"></script>
			<script src="static/js/simple-skillbar.js"></script>
			<script src="static/js/owl.carousel.min.js"></script>
			<script src="static/js/mail-script.js"></script>
			<script src="static/js/main.js"></script>
		{% endblock %}
		
		
		{% block content %}
		  <div class="banner-area" style="border: 1px solid #000; height: 1000px;">
				<p style="margin-top: 135px;font-size: 30px;font-weight: bold;margin-left: 200px;">个人展示</p>
					<div style="margin-left: 200px;margin-top: 40px;width: 1000px;">
						{% if g.info %}
							<p>{{ g.info | safe }}</p>
						{% else %}
							<p>博主很懒~~</p>
						{% endif %}
					</div>
						
		  </div>
		  {% endblock %}

		  {% block message%}
		  {% endblock %}

		  {% block ext%}
		  {% endblock %}
