<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<!-- 移动端必有的 -->
	<meta name="viewport" content="width=device-width,user-scalable=no,
	initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">

	<title>个人信息</title>

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/index.css">

	<script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    


    <script type="text/javascript">
        $(function(){

            flag = false;

            $('#search').click(function(){
                if(flag == false){
                    $('#go').show();
                    flag = true;
                }
                else{
                    $('#go').hide();
                    flag = false;
                }
            })
        })
    </script>


</head>
<body>
		<!-- 导航条 -->
          <div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0px;background-color: #f1f1f1;">
          		<div class="container">
          			 <div class="navbar-header">

          			 	<button class="navbar-toggle" data-toggle="collapse" data-target="#menu" style="border: 1px solid #000;background-color: #f1f1f1;">
          			 		<span class="icon_bar" style="color: #000;"><img src="hsduif.jpg" style="width: 20px;height: 20px;border-radius: 50%;background-color: green;"> 欢迎！<span style="color: red;">{{ g.name }}</span> v</span>
          			 	</button>


          			 	<a href="/" class="navbar-brand" style="font-size: 25px;">看吧</a>
                         <span class="navbar-brand" style="color: #000;font-size: 15px;" id="search">搜索</span>
          			 </div>

                     <form class="navbar-form  navbar-right" style="display: none;" id="go">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="botton">Go<!-- <span class="glyphicon glyphicon-search"> --></span></button>
                                        </span>
                                    </div>
                                </div>
                    </form>

          			 <div class="collapse navbar-collapse"  id='menu'>

	          			 <ul class="nav navbar-nav">
	          			 	<li class="active"><a href="javascript:;">个人中心</a></li>
	          			 	<li><a href="{{ url_for('user.photo')}}">我的相册</a></li>
	          			 	<li><a href="{{ url_for('user.publish')}}">发布文章</a></li>
	          			 	<li><a href="{{ url_for('user.collect')}}">收藏</a></li>
	          			 </ul>

                         
	          		  </div>
          		</div>
          </div>

          <a href="{{ url_for('user.cen')}}" style="position: absolute;left:20px;margin-top: 15px; font-size: 16px;text-decoration: underline;"><返回</a>

         <div class="container header-line">
            <div class="row header">
                <p style="margin-left: 40px;margin-top: 60px; font-size: 25px;">个人中心</p>
            </div>
         </div>

         <form method="post" class="container" style="padding-left: 40px;" action="{{ url_for('user.center')}}" enctype="multipart/form-data">
            <p style="color: red;margin-left: 50px;">{{ msg }}</p> 
         		<p>
         			<label>用户名：</label>
         			<input type="text" name="username" placeholder="请输入用户名">
         		</p>
         		<p>
	         		<label>密码：</label>
	         		<input type="password" name="password" placeholder="请输入密码">
	         	</p>
            <p>
              <label>确认密码：</label>
              <input type="password" name="repassword" placeholder="请输入确认密码">
            </p>
	         	<p>
	         		<label>邮箱：</label>
	         		<input type="text" name="email" placeholder="请输入邮箱">
	         	</p>
	         	<p>
	         		<label>电话：</label>
	         		<input type="text" name="phone" placeholder="请输入电话">
	         	</p>
	         	<p>
	         		<label>头像：</label>
	         		<input type="file" name="thum">
	         	</p>

            <div style="text-align: center;"><input type="submit" name="提交" style="margin-top: 30px;text-align: center;width: 130px;height: 30px;font-size: 16px;"></div> 
         </form>
         <div class="icon" style="margin-top: 30px;text-align: center;">
         	<p><img src="gusdfu.jpg" style="width: 60px;height: 60px;"></p>
         	<span>头像</span>
          
		 </div>

         <div class="navbar_top" style="font-size: 0px;">
                      <p style="display: inline-block;border-top: 1px solid #000; width: 25%;font-size: 20px;text-align: center;" class="col-lg-3 col-md-3 col-sm-3"><a href="/">首页</a></p>
                      <p style="display: inline-block;border-top: 1px solid #000; width: 25%;font-size: 20px;text-align: center;" class="col-lg-3 col-md-3 col-sm-3"><a href="{{ url_for('user.publish')}}">发布</a></p>
                      <p style="display: inline-block;border-top: 1px solid #000; width: 25%;font-size: 20px;text-align: center;" class="col-lg-3 col-md-3 col-sm-3"><a href="{{ url_for('user.collect')}}">收藏</a></p>
                      <p style="display: inline-block;border-top: 1px solid #000; width: 25%;font-size: 20px;text-align: center;" class="col-lg-3 col-md-3 col-sm-3"><a href="{{ url_for('user.cen')}}">我的</a></p>
         </div>

</body>
</html>



